# General#
###################
03_DOC*
NFC*
TAG*
TAG_EXTENSION*
05_LIB*
07_SW*
08_SIM*
Fence monitor/History/*
Fence monitor/Project Logs/*
PFence monitor/roject Outputs/*
# SCH #
###################
01_SCH/History/*
01_SCH/__Previews/*
# PCB #
###################
# 04_OUTPUT_FILES #
###################
# 06_RELEASE #
###################